#survey-domain-menu {
    position: absolute;
    background: var(--color-opaque);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 13px 0 var(--color-transparent);
    width: 475px;
    padding: 0 var(--width-buffer-small) var(--width-buffer-small) var(--width-buffer-small);
    color: var(--color-lightblack);
    bottom: 0;
    pointer-events: all;
}

.body-section {
    height: 205px;
    overflow: auto;
}
