.tab-button {
    height: 28px;
    min-width: 25%;
    color: var(--color-lightblack);
    font-size: var(--font-medium);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;

    border-top: solid 1px var(--color-lightblack);
    border-bottom: solid 1px var(--color-lightblack);
}

.tab-button:first-child {
    border-left: solid 1px var(--color-lightblack);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.tab-button:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-right: solid 1px var(--color-lightblack);
}

.tab-button.selected {
    border: solid 1px var(--color-red);
    background: var(--color-red);
    color: var(--color-white);
}
