#pane-container {
    pointer-events: all;
    display: inline-flex;
    background: var(--color-darkwhite);
    width: 410px;
    transition: width 0.2s ease-out;
    flex-direction: column;
}

#pane-container.pane-container--closed {
    width: 0;
}
