.range-input-container {
    margin-top: var(--width-buffer-small);
    font-size: var(--font-medium);
    color: var(--color-lightblack);
}

.range-input {
    margin-left: var(--width-buffer-xsmall);
    margin-right: var(--width-buffer-xsmall);
    width: 51px;
    height: 40px;
    text-align: center;
    border: solid 1px var(--color-darkgrey);
    outline: none !important;
}

.range-input:focus {
    box-shadow: 0 0 5px var(--color-teal);
}

.range-input.invalid {
    border: solid 1px var(--color-red);
}

.range-input.invalid:focus {
    border: solid 1px var(--color-red);
    box-shadow: 0 0 5px var(--color-red);
}

/* See https://stackoverflow.com/a/23715905 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
