.chevron-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 52px;
    transition: transform 0s;
    cursor: pointer;
}

.chevron-button--closed {
    transform: rotate(180deg);
}

.chevron {
    object-fit: contain;
    display: block;
}
