.legend-item {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 100%;
    font-size: var(--font-small);
    margin: 0 0.5px;
}

.legend-key {
    height: 10px;
    margin-bottom: 2px;
}
