#snackbar {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    visibility: hidden;
    position: fixed;
    height: 40px;
    width: 200px;
    bottom: var(--width-buffer-medium);
    right: var(--width-buffer-small);
    border-radius: var(--width-border-radius);
    box-shadow: 0 0 11px 0 var(--color-transparent);
    background-color: var(--color-white);
    font-size: var(--font-medium);
    color: var(--color-teal);
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: var(--width-buffer-medium);
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: var(--width-buffer-medium);
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: var(--width-buffer-medium);
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: var(--width-buffer-medium);
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
