span.check-box {
    width: var(--width-control);
    height: var(--width-control);
    border: solid 1px var(--color-lightblack);
    display: flex;
    color: var(--color-darkwhite);
    justify-content: center;
    align-items: center;
}

span.check-box--selected {
    width: var(--width-control);
    height: var(--width-control);
    border: solid 1px var(--color);
    background-color: var(--color);
}

.check-button {
    display: flex;
    margin-bottom: var(--width-buffer-small);
    cursor: pointer;
    align-items: center;
}

.check-button-label {
    display: inline-flex;
    font-size: var(--font-medium);
    color: var(--color-lightblack);
    margin-left: var(--width-buffer-xsmall);
}
