span.rb-outer {
    display: inline-flex;
    border-radius: 50% 50% 50% 50%;
    height: var(--width-control);
    width: var(--width-control);
    border: 2px solid var(--color-lightblack);
    padding: 3px;
    box-sizing: border-box;
}

span.rb-outer.selected {
    border: 2px solid var(--color);
}

span.rb-inner.selected {
    display: block;
    border-radius: 50% 50% 50% 50%;
    height: 100%;
    width: 100%;
    background-color: var(--color);
}

.rb {
    display: flex;
    margin-bottom: var(--width-buffer-small);
    cursor: pointer;
    align-items: center;
}

.rb-text {
    display: inline-flex;
    font-size: var(--font-medium);
    color: var(--color-lightblack);
    margin-left: var(--width-buffer-xsmall);
}
