.dropdown-item {
    background-color: var(--color-white);
    color: var(--color-teal);
    display: block;
    padding: 0.6em;
    border: none;
    width: 100%;
}

.dropdown-item.disabled {
    pointer-events: none;
    cursor: default;
}

.dropdown-item.selected {
    background-color: var(--color-teal);
    color: var(--color-white);
}